@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground: #171717;
  --sugar: #fcf8f0;
  --bone: #e2d9cd;
  --wheat: #b6a593;
  --sage: #b5bdac;
  --mocha: #685b4d;
  --oak: #392e26;
}

/* Wait to see if needed 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--sugar);
  font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}

.underline-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: width 0.5s ease-out, left 0.5s ease-out;
}

.underline-hover:hover::before {
  width: 100%;
  left: 0;
}
