@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground: #171717;
  --sugar: #fcf8f0;
  --bone: #e2d9cd;
  --wheat: #b6a593;
  --sage: #b5bdac;
  --mocha: #685b4d;
  --oak: #392e26;
}

/* Wait to see if needed 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--sugar);
  font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-brightness-70 {
  filter: brightness(0.7);
}

.underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}

.underline-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: width 0.5s ease-out, left 0.5s ease-out;
}

.underline-hover:hover::before {
  width: 100%;
  left: 0;
}


.embla {
  max-width: 95%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 2rem;
  --slide-size: 80%;
}
.embla__viewport {
  overflow: hidden;
  grid-column: 2;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  margin: 0 10px;
}

.embla__controls {
  display: grid;
  grid-template-columns: 5% auto 5%; /* 5% for buttons, the rest for the carousel */
  align-items: center;
  margin-top: 1rem;
} 

button.prev {
  grid-column: 1; /* Previous button on the left */
}

button.next {
  grid-column: 3; /* Next button on the right */
}

.embla__button {
  width: 45px;
  height: 45px;
  font-size: 2rem;
  background-color: var(--wheat);
  color: var(--bone);
  font-weight: 100;
  margin: 10px;
  border-radius: 20px;
}

.embla__button:hover {
  opacity: 50%;
}

.ReactGridGallery_tile-viewport {
  transition-duration: 300ms;
}

.ReactGridGallery_tile-viewport:hover {
  opacity: 90%;
}
